@font-face {
  font-family: 'Lora';
  src: url(assets/font/Lora-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Lora-italic';
  src: url(assets/font/Lora-Italic-VariableFont_wght.ttf) format('truetype');
}

:root{
  --flip-duration: 0.37s;
  --card-perspective: 1500px;
  --card-w-medium: 780px;
  --card-border-radius: 0.1rem;
}

body{
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  /* background: rgb(200, 241, 241); */
  /* background: rgb(248, 192, 245); */
  background-color: #79afe2;

  /* diff browsers have their own default stylesheet 
  which sets the base text size => set it to same */
  font-size: 16px;
  box-sizing: border-box;
}

i, em{
  font-family: 'Lora-italic';
}

.flex-center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

#front img,
#back img{
  max-width: var(--card-w-medium);
  height: auto;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: var(--card-border-radius);
}

.card{
  max-width: var(--card-w-medium);
  height: auto;

  position: relative;
  perspective: var(--card-perspective);
  /* keep or get rid of this ^ persp.? */
}
  
.cardFront,
.cardBack {
  display: flex;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform var(--flip-duration) ease;
}
.cardBack {
  background-color: #ebf4ff;
  transform: perspective(var(--card-perspective)) rotateX(-180deg);
} 
.cardBack.flipped {
  transform: perspective(var(--card-perspective)) rotateX(0deg);
}
.cardFront {
  transform: perspective(var(--card-perspective)) rotateX(0deg);
}
.cardFront.flipped {
  transform: perspective(var(--card-perspective)) rotateX(180deg);
}

#back-text{
  position: absolute;
  top: 0;
  border-radius: var(--card-border-radius);

  box-sizing: border-box;
  padding: 2.2rem 1.8rem;
  width: 100%;
  height: 100%;
  
  display: grid;
  grid-column-gap: 2.7rem;
  grid-row-gap: 1.6rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "cell1 cell2"
    "cell1 cell3"
}

p{
  font-family: 'Lora';
  font-size: 1.1rem;
  margin: 0;
  text-indent: 1.45rem;
  line-height: 1.48rem;

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
}

p a{
  color: #18aa18;
}

.gridItem{
  width: 100%
}
.gridItem1{
  grid-area: cell1;
}
.gridItem2{
  grid-area: cell2;
}
.gridItem3{
  grid-area: cell3;
}

#back-text p:first-child{
  text-indent: 0;
}
.verticalFiller{
  height: 22.5px;
}

p.signature{
  text-indent: 0;
  text-align: end;
  padding-inline-end: 0.55rem;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  #front img,
  #back img{
    max-width: 600px;
  }
  #back-text{
    padding: 1.7rem 1.2rem;
    grid-row-gap: 0.6rem;
  }
  p{
    font-size: .80rem;
    text-indent: 1.0rem;
    line-height: 1.15rem;
  }
  p.signature{
    padding-inline-end: 0.18rem;
  }
}

@media screen and (max-width: 599px) {
  #front img,
  #back img{
    max-width: 360px;
  }
  #back-text{
    padding: 0.9rem 0.6rem;
    grid-column-gap: 1.2rem;
    grid-row-gap: 0.3rem;
  }
  p{
    font-size: .5rem;
    line-height: 0.711rem;
    text-indent: 1.0rem;
  }
  .verticalFiller{
    height: 0.6rem;
  }
  p.signature{
    padding-inline-end: 0.17rem;
  }
  br{
    display: none;
  }
}

/* androids in landscape needed some tweaking to look good */
/* @supports (-webkit-touch-callout: none) and (max-width: 599px){ this doesnt work together */
@media screen and (max-width: 800px) and (orientation: landscape){
  body:not(.ios-device) p{
    font-size: .85rem;
    line-height: 1.05rem;
  }
}

/* mobile iOS */
@media screen and (max-width: 800px){
  body.ios-device .verticalFiller{
    height: 8px;
  }
}